# Exclude files not needed for Docker build
*__pycache__/
*.pyc
*.pyo

# Exclude log files but keep the logs directory
logs/*
!logs/.gitkeep

# Exclude notebook checkpoints
*.ipynb_checkpoints/

# Environments
.env2
*.env2
.venv
env2/
venv/
ENV/
env.bak/
venv.bak/